<button class="fun" data-toggle="collapse" data-target="#emoji">Click for fun</button>
<div class="collapse" id="emoji">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-sm-6 col-md-3">
                <img src="../../../assets/gif/panda.gif" class="gif">
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="../../../assets/gif/poo.gif" class="gif">
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="../../../assets/gif/unicorn.gif" class="gif">
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="../../../assets/gif/chicken.gif" class="gif">
            </div>
        </div>
    </div>
</div>