<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/team1.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Hohn is an internain entrentrenena with 20years if experience</p>
                    <a class="btn btn-outline-secondary">See profile</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/team2.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Mary Joe</h4>
                    <p class="card-text">Hohn is an internain entrentrenena with 20years if experience is an internain entrentrenena with 20years </p>
                    <a class="btn btn-outline-secondary">See profile</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/team3.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Phol Doe</h4>
                    <p class="card-text">Hohn is an internain entrentrenena with 20years if experience</p>
                    <a class="btn btn-outline-secondary">See profile</a>
                </div>
            </div>
        </div>
    </div>
</div>